[submodule "rm_navigation_ws"]
	path = rm_navigation_ws
	url = https://gitee.com/SMBU-POLARBEAR/pb_rmsimulation
[submodule "rm_decision_ws"]
	path = rm_decision_ws
	url = https://gitee.com/SMBU-POLARBEAR/rm_behavior_tree
[submodule "rm_vision_ws"]
	path = rm_vision_ws
	url = https://gitee.com/SMBU-POLARBEAR/PB_RM_Vision.git
