[Unit]
Description=communicate

[Service]
ExecStart=/home/rm/rm_auto_aim/scripts/communicate.bash
WorkingDirectory=/home/rm/rm_auto_aim/
Restart=always

[Install]
WantedBy=multi-user.target

